@import 'colors.css';
/* Importing the colors */



/* =========  right side menu =========  */
.container {
    display: flex;
    height: 100vh;
  }

.account-info {
    position: relative;
    width: 79.68%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


#cred-container {
    width: 26%;
    height: 26%;
    border-radius: 20px;
    background-color: var(--header-primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    } 

#account-container {
    width: 96%;
    height: 66%;
    background-color: var(--header-primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
#account-container h2 {
    color: var( --list-text-color);
    font-size: 1.3vw;
}

input[type="password"] {
    background-color: var(--search-focus-color);
    font-size: 1vw;
    width: 60%; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; 
    border: 1px solid #ccc;
}
    
input[type="submit"] {
    background-color: var(--search-focus-color);
    font-size: 1vw;
    background-color: var(--third-color); 
    color: rgb(0, 0, 0); 
    padding: 10px;
    border-radius: 5px; 
    margin-bottom: 10px;
    transition: background-color 0.3s ease; 
    border: none;
    
}
    
input[type="submit"]:hover {
    background-color: #fa6a21; 
    cursor: pointer;
   }


/* =========  return button =========  */     
#return-button {
    position: absolute;
    top: 20px;
    left: 20px;
}

#return-button img {
    width: 50px; 
    height: 50px; 
    transition: transform 0.3s ease; /* Smooth transition */
}

#return-button img:hover {
    transform: scale(1.1); /* Scale the image up to 110% */
}
/* ========= left side menu =========  */
.menu {
    width: 20.25%;
    display: flex;
    flex-direction: column;

    }

#name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--header-primary-bg-color);
    font-size: 5vw;
    border-bottom: 1;
    }

#name-container h1 {
    border-bottom: 2px solid var(--username-color);
    margin-bottom: 70vh;
    text-align: center;
    flex: 2;
    font-size: 4vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--username-color);

    }

#parks h1 {
    width: 100%;
    font-size: 1vw;
    border-bottom: 1;
    margin-top: -75vh;
    color: var( --list-text-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-left: 1vw;
    }

#turbines h1 {
    width: 100%;
    font-size: 1vw;
    border-bottom: 1;
    margin-top: -72vh;
    color: var( --list-text-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    margin-left: 1vw;
    }


html, body {
    margin: 0;
    padding: 0;
    }


/*============== !ERROR MESSAGE ==============*/

.error-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--error-bg-color);
    color: white;
    padding: 5px;
    height: 5%;
    text-align: center;
    z-index: 9999;
    display: none;
}