.dark-mode {
    /*========== OLD-COLORS ==========*/
    /*----- Layout colors -----*/
    --primary-color: #5b7083;
    --secondary-color: #69859b;
    --accent-color: #69859b;
    --third-color: #fa813a;
    /*----- Text colors -----*/
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    /*----- Select colors -----*/
    --primary-select-color: #223034;
    --secondary-select-color: #1c282b;
    /*----- Search colors -----*/
    --search-focus-color: #243439;
    /*========== OLD-COLORS-END ==========*/
    

    /*========== Header ==========*/
   
    --header-primary-bg-color: #2c2c2c;
   
    /*----- Searchbar -----*/
    --search-bg-color: #333333;
    --search-placeholder-color: #bbbbbb;
    --search-focus-color: #555555;
    --search-button-color: #a4b0be;
    --search-text-color: #ffffff;
   
    /*----- Hamburger menu -----*/
    --hamburger-menu-color: #a4b0be;
    --hamburger-hover-color: #8899a6;
   
    /*----- dropdown -----*/
    --dropdown-bg-color: #969696;
    --dropdown-border-color: #4a5661;
    --dropdown-icon-color: #ffffff;
    --dropdown-hover-color: #333333;
   
    /*----- username -----*/
    --username-color: #a4b0be;
   
    /*========== Cred ==========*/
    --cred-container-color: #a4b0be;

    /*========== content-container ==========*/
    --content-container-text-color: #ffffff;
    
    /*========== placeholder ==========*/
    --placeholder-color: #a0a0a0;
    /*========== Sidebar ==========*/
   
    --sidebar-primary-bg-color: #333333;
    --sidebar-primary-text-color: #a4b0be;
    --sidebar-text-border-color: #556677;
   
    /*----- Filters -----*/
   
    --filter-bg-color: #556677;
    --filter-text-color: #a4b0be;
    --filter-hover-color: #445566;
   
    /*----- Pinned -----*/
   
    --pinned-bg-color: #333333;
    --pinned-entry-bg-color: #556677;
    --pinned-hover-color: #445566;
   
    /*========== Main content ==========*/
   
    --list-bg-color: #333333;
    --main-content-bg-color: #222222;
    --list-text-color: #ffffff;
   
    /*----- Entries -----*/
    --list-header-bg-color: #333333;
    --list-entry-bg-color: #222222;
    --list-entry-hover-color: #111111;
   
    /*----- Pinned button -----*/
    --pinned-button-hover-color: #0077cc;
    --pinned-buttun-hover-border-color: #0077ccc7;
    --pinned-button-text-color: #ffffff;
    --pinnedOn-button-text-color: #cccccc;
   
    /*----- On -----*/
    --pinnedOn-button-bg-color: #222222;
    --pinnedOn-button-border-color: #cccccc;
   
    /*----- Off -----*/
    --pinned-button-bg-color: #0077cc;
    --pinned-button-border-color: #0077cc;
   
    /*========== Misc ==========*/
   
    /*----- Error message -----*/
    --error-bg-color: #ff3333;
   }

:root {
    /*========== Header ==========*/

    --header-primary-bg-color: #3C79F5;

    /*----- Searchbar -----*/
    --search-bg-color: #ffffff;
    --search-placeholder-color: #cbcbcb;
    --search-border-color: #dedede;
    --search-focus-color: #e4e4e4;
    --search-button-color: #cbcbcb;
    --search-text-color: #3d3e3f;

    /*----- Hamburger menu -----*/
    --hamburger-menu-color: #f5f5f5;
    --hamburger-hover-color: #ededed;

    /*----- dropdown -----*/
    --dropdown-bg-color: #ffffff;
    --dropdown-border-color: #3C79F5;
    --dropdown-icon-color: #3d3d3d;
    --dropdown-hover-color: #f4f4f4;
    
    /*----- username -----*/
    --username-color: #f5f5f5;
    
    /*========== Cred ==========*/
    --cred-container-color: #a4b0be;

    /*========== content-container ==========*/
    --content-container-text-color: #3d3e3f;
    /*========== placeholder ==========*/
    --placeholder-color: #f0f0f0;
    /*========== Sidebar ==========*/
    --sidebar-primary-bg-color: #ffffff;
    --sidebar-primary-text-color: #3d3e3f;
    --sidebar-text-border-color: #d8d8d8;

    /*----- Filters -----*/

    --filter-bg-color: #ffffff;
    --filter-text-color: #3d3e3f;
    --filter-hover-color: #f7f7f7;
    --filter-border-color: #dedede;

    /*----- Pinned -----*/

    --pinned-bg-color: #ffffff;
    --pinned-entry-bg-color: #f2f2f2;
    --pinned-hover-color: #e9e9e9;
    --unpin-icon-color: #cbcbcb;
    --unpin-icon-hover-color: #d23030;

    /*========== Main content ==========*/

    --list-bg-color: #ffffff;
    --main-content-bg-color: #F3F3F3;
    --list-text-color: #000000;

    /*----- Entries -----*/
    --list-header-bg-color: #ffffff;
    --list-entry-bg-color: #f2f2f2;
    --list-entry-hover-color: #e9e9e9;


    /*----- Pinned button -----*/
    --pinned-button-hover-color: #dd7132;
    --pinned-buttun-hover-border-color: #dd7132;
    --pinned-button-text-color: #ffffff;
    --pinnedOn-button-text-color: #c3c3c3;

    /*----- On -----*/
    --pinnedOn-button-bg-color: #f2f2f2;
    --pinnedOn-button-border-color: #c3c3c3;
    --pinnedOn-button-hover-color: #e7e7e7;

    /*----- Off -----*/
    --pinned-button-bg-color: #fa813a;
    --pinned-button-border-color: #fa813a;

    /*========== Misc ==========*/

    /*----- Error message -----*/
    --error-bg-color: #d23030;

}

[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
}