:root {
    /*----- Layout colors -----*/
    --primary-color: #5b7083;
    --secondary-color: #69859b;
    --accent-color: #69859b;
    --third-color: #fa813a;
    /*----- Text colors -----*/
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
    /*----- Select colors -----*/
    --primary-select-color: #223034;
    --secondary-select-color: #1c282b;
    /*----- Search colors -----*/
    --search-focus-color: #243439;
}


:root {
    /*========== Header ==========*/

    --header-primary-bg-color: #69859b;

    /*----- Searchbar -----*/
    --search-bg-color: #5b7083;
    --search-placeholder-color: #ffffff;
    --search-focus-color: #516475;

    /*----- Hamburger menu -----*/
    --hamburger-menu-color: #ffffff;
    --hamburger-hover-color: #f0f0f0;

    /*----- dropdown -----*/
    --dropdown-bg-color: #ffffff;
    --dropdown-border-color: #69859b;
    --dropdown-icon-color: #3d3d3d;
    --dropdown-hover-color: #f4f4f4;

    /*========== Sidebar ==========*/

    --sidebar-primary-bg-color: #5b7083;
    --sidebar-primary-text-color: #ffffff;
    --sidebar-text-border-color: #c0d7dc;

    /*----- Filters -----*/

    --filter-bg-color: #516475;
    --filter-hover-color: #485a69;

    /*----- Pinned -----*/

    --pinned-bg-color: #5b7083;
    --pinned-entry-bg-color: #69859b;
    --pinned-hover-color: #627c90;

    /*========== Main content ==========*/

    --list-bg-color: #ffffff;
    --main-content-bg-color: #f2f2f2;
    --list-text-color: #000000;

    /*----- Entries -----*/
    --list-header-bg-color: #ffffff;
    --list-entry-bg-color: #f2f2f2;
    --list-entry-hover-color: #e9e9e9;


    /*----- Pinned button -----*/
    --pinned-button-hover-color: #115ec3;
    --pinned-buttun-hover-border-color: #115ec3;
    --pinned-button-text-color: #ffffff;
    --pinnedOn-button-text-color: #c3c3c3;

    /*----- On -----*/
    --pinnedOn-button-bg-color: #f2f2f2;
    --pinnedOn-button-border-color: #c3c3c3;

    /*----- Off -----*/
    --pinned-button-bg-color: #2783fc;
    --pinned-button-border-color: #2783fc;

    /*========== Misc ==========*/

    /*----- Error message -----*/
    --error-bg-color: #d23030;

}