:root {
    /*----- Layout colors -----*/
    --primary-color: #2d4046;
    --secondary-color: #466066;
    --accent-color: #415860;
    /*----- Text colors -----*/
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
}