/* Contributors: Justin Gavrell Fredrik Larsson*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'colors.css';
/* Importing the colors */

/*============== !LAYOUT ==============*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

header {
    height: 55px;
}

#main-container {
    display: flex;
    height: 93.7vh;
    width: 100vw;
    flex-direction: row;
    background-color: var(--main-content-bg-color);
}

#sidebar-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    max-height: 93.7vh;
    background-color: var(--sidebar-primary-bg-color);
    color: var(--sidebar-primary-text-color);
    border-right: 0.5px solid var(--main-content-bg-color);
}

#filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

#pinned-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 40%;
    max-height: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: var(--pinned-bg-color);
    overflow-y: auto;
}

#list-container {
    display: flex;
    max-width: 100%;
    max-height: 83vh;
    min-height: 83vh;
    background-color: var(--list-bg-color);
    color: var(--list-text-color);
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
}

#content-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;

}

#header-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: var(--header-primary-bg-color);

}

#left-header-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    max-height: 100%;
    align-items: left;
}

#right-header-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    max-height: 100%;
    justify-content: right;
    align-items: center;
}

/*============== !HEADER ==============*/

/*------- !USERNAME -------*/
#user-name {
    display: flex;
    align-items: center;
    margin-right: 20px;
    color: var(--username-color);
    font-size: 15px;
    font-weight: bold;
}

/*------- !HAMBURGER -------*/
#ham-menu .fa-bars {
    color: var(--hamburger-menu-color);
    font-size: 35px;
}

#ham-menu .fa-bars:hover {
    color: var(--hamburger-hover-color);
}

#ham-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    border: 0px;
    margin-right: 10px;
    cursor: pointer;
    background: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--dropdown-bg-color);
    min-width: 235px;
    box-shadow: 0 15px 16px rgba(0, 0, 0, 0.2);
    z-index: 999;
    top: 53px;
    right: -10px;
    border-bottom: 6px solid var(--dropdown-border-color);
}

.dropdown-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    padding: 8px 20px 8px 20px;
}

.dropdown-icon p {
    width: 100px;
    color: #3d3d3d;
    font-weight: bold;
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 16px;
    min-height: 21px;
}

.dropdown-icon i {
    color: #3d3d3d;
    font-size: 30px;
    padding: 5px;
    margin-right: 10px;
}

.dropdown-content a:hover {
    background-color: var(--dropdown-hover-color);
}

/*============== !SIDEBAR ==============*/

/*------- !TAB NAV -------*/

#tab-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85%;
    height: 30px;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 10px;
    min-height: 30px;
}

.tab {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    text-decoration: none;
}

.nav-link {
    color: #0d73e0;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #0d73e0;
}

.fa-chevron-right {
    color: #cbcbcb;
    margin-top: 2px;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 13px;
}

/*------- !SEARCH BAR -------*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#search {
    display: flex;
    width: 80%;
    height: 30px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    color: var(--search-text-color);
    border: 1px solid var(--search-border-color);
    padding-right: 40px;
    font-size: 15px;
    outline: none;
}

.search-button {
    position: absolute;
    left: 15.7%;
    top: 20.4%;
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.search-button .fa-search {
    margin: 0;
    color: var(--search-button-color);
    font-size: 15px;
}

.fa-search:hover {
    font-size: 16px;
}

#search::placeholder {
    color: var(--search-placeholder-color);
    font-size: medium;
}

#search:focus::placeholder {
    color: transparent;
}


#search:focus {
    /*background-color: var(--search-focus-color);*/
    outline: none;
}

/*------- !FILTER -------*/

#filter-title,
#search-title {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    border-bottom: 2px solid var(--sidebar-text-border-color);
    padding-bottom: 10px;
    font-weight: bold;
}

#regions-filter {
    margin-bottom: 20px;
}

#parks-filter,
#regions-filter {
    width: 80%;
    height: 10px;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='%235b7083' stroke='%235b7083' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><polyline points='6 9 12 15 18 9'></polyline></svg>") no-repeat;
    background-position: right 10px center;
    background-size: 12px;
}

#filter-container select {
    padding: 10px;
    font-size: 15px;
    height: 40px;
    border: 1px solid var(--filter-border-color);
    border-radius: 0px;
    background-color: var(--filter-bg-color);
    color: var(--filter-text-color);
}

#filter-container select:hover {
    background-color: var(--filter-hover-color);
}

#filter-container select:focus {
    outline: none;
}

/*------- !PINNED(SIDEBAR) -------*/

#pinned-title {
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: 2px solid var(--sidebar-text-border-color);
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 0px;
}

.turbine-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    min-width: 80%;
    padding: 0 2% 0 10%;
    height: 50px;
    margin-bottom: 10px;
    background-color: var(--pinned-entry-bg-color);
}

.pinned-turbine-name {
    margin-right: 10px;
}

.turbine-div:hover {
    background-color: var(--pinned-hover-color);
}

.unpin-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.unpin-button,
.fa-times {
    margin: 0;
    color: var(--unpin-icon-color);
    font-size: 16px;
}

.fa-times:hover {
    color: var(--unpin-icon-hover-color);
}

/*============== !TURBINE LIST ==============*/

#turbine-list {
    width: 100%;
    overflow-y: auto;
    background-color: var(--list-bg-color);
    color: var(--list-text-color);
    overflow-x: hidden;

}

#turbine-list table {
    width: 100%;
    border-spacing: 0 18px;
    border-collapse: separate;
}

#turbine-list table th,
#turbine-list table td {
    padding: 10px 10px 10px 20px;
}

#turbine-list table th {
    color: var(--list-text-color);
    background-color: var(--list-header-bg-color);
    border-bottom: 2px solid #ddd;
    text-align: left;
}

#turbine-list table tr {
    background-color: var(--list-entry-bg-color);
}

#turbine-list table tr:hover {
    background-color: var(--list-entry-hover-color);
}


.turbine-id {
    width: 100px;
    text-align: left;
}

.tubrine-name {
    text-align: left;
}


/*
.turbine-list-div {
    border: 2px solid var(--list-header-bg-color);
    border-radius: 10px;
    display: flex;
}
*/
/*------- !PINNED(LIST) -------*/

.pinned-button {
    width: 80px;
    background-color: var(--pinned-button-bg-color);
    border: 2px solid var(--pinned-button-border-color);
    color: #ffffff;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    font-size: 1em;
    height: 30px;
    margin-right: 20px;
}

.pinned-button.on {
    width: 80px;
    background-color: var(--pinnedOn-button-bg-color);
    border: 2px solid var(--pinnedOn-button-border-color);
    color: var(--pinnedOn-button-text-color);
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
    font-size: 1em;
    height: 30px;
    margin-right: 20px;
}

.pinned-button.on:hover {
    background-color: var(--pinnedOn-button-hover-color);
    border: 2px solid var(--pinnedOn-button-border-color);
    cursor: pointer;
    color: var(--pinnedOn-button-text-color);
}

.pinned-button:hover {
    background-color: var(--pinned-button-hover-color);
    border: 2px solid var(--pinned-buttun-hover-border-color);
    cursor: pointer;
    color: #ffffff;
}

.turbine-pin {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
}

/*============== !ERROR MESSAGE ==============*/

.error-message {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--error-bg-color);
    color: white;
    padding: 5px;
    height: 5%;
    text-align: center;
    z-index: 9999;
    display: none;
}