<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to the CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/help-support.css') }}">
    <!-- Link to the JavaScript file -->
    <script src="{{ url_for('static', filename='JS/help-support.js') }}" defer></script>
    <!-- Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- other devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Help and Support</title>
</head>
    <header class="{{ user.theme }}-mode">
        {% if user.language == 'eng' %}
        <!---- HEADER ---->
        <div id="header-container">
            <!---- LEFT HEADER ---->
            <div id="left-header-container">
    
            </div>
            <!---- RIGHT HEADER ---->
            <div id="right-header-container">
    
                <span id="user-name">Logged in as: {{user.email}}</span>
    
                <!---- DROPDOWN ---->
                <div class="dropdown">
                    <button class="dropbtn" id="ham-menu"><i class="fas fa-bars"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/account" class="dropdown-icon">
                            <i class="fas fa-user-circle"></i>
                            <p>Account</p>
                            <span></span>
                        </a>
                        <a href="/settings" class="dropdown-icon">
                            <i class="fas fa-cog"></i>
                            <p>Settings</p>
                            <span></span>
                        </a>
                        <a href="/help-support" class="dropdown-icon">
                            <i class="fas fa-question-circle"></i>
                            <p>Help & Support</p>
                            <span></span>
                        </a>
                        <a href="/logout" class="dropdown-icon">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Logout</p>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if user.language == 'swe' %}
        <!---- HEADER ---->
        <div id="header-container">
            <!---- LEFT HEADER ---->
            <div id="left-header-container">
    
            </div>
            <!---- RIGHT HEADER ---->
            <div id="right-header-container">
    
                <span id="user-name">Inloggad som: {{user.email}}</span>
    
                <!---- DROPDOWN ---->
                <div class="dropdown">
                    <button class="dropbtn" id="ham-menu"><i class="fas fa-bars"></i></button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="/account" class="dropdown-icon">
                            <i class="fas fa-user-circle"></i>
                            <p>Konto</p>
                            <span></span>
                        </a>
                        <a href="/settings" class="dropdown-icon">
                            <i class="fas fa-cog"></i>
                            <p>Inställningar</p>
                            <span></span>
                        </a>
                        <a href="/help-support" class="dropdown-icon">
                            <i class="fas fa-question-circle"></i>
                            <p>Hjälp & Assistans</p>
                            <span></span>
                        </a>
                        <a href="/logout" class="dropdown-icon">
                            <i class="fas fa-sign-out-alt"></i>
                            <p>Logga ut</p>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </header>

<body class="{{ user.theme }}-mode">
    {% if user.language == 'eng' %}
    <div id="sidebar-container">
        <div id="tab-nav">
            <a href="/search_page" class="nav-link">Home</a>
            <i class="fas fa-chevron-right"></i>
            <p class="tab">Help & Support</p>
        </div>
        <div class="links-container">
            <a href="#faqs" class="nav-link2" onclick="toggleSection('faqs')">FAQs</a>
            <a href="#troubleshooting" class="nav-link2" onclick="toggleSection('troubleshooting')">Troubleshooting</a>
            <a href="#contact" class="nav-link2" onclick="toggleSection('contact')">Contact</a>
        </div>
    </div>

    <section id="faqs" class="content-section">
        <h2>Frequently Asked Questions (FAQs)</h2>
        <ul>
            <li>
                <strong>Q: How do i add more turbines to the website?</strong>
                <p>A: Contact us and we will solve it for you .</p>
            </li>
            <li>
                <strong>Q: How do i create more users for my company?</strong>
                <p>A: You can't, each company only has one user.</p>
            </li>
            <li>
                <strong>Q: Question Question Question Question?</strong>
                <p>A: Answer Answer Answer Answer .</p>
            </li>
        </ul>
    </section>

    <section id="troubleshooting" class="content-section">
        <h2>Troubleshooting Guides</h2>
        <p>Known issues</p>


        <!-- Troubleshooting content -->
        <div id="issue1">
            <h3>Issue 1: The page wont start</h3>
            <p>Step-by-step troubleshooting guide</p>
            <ol>
                <li><div class="step-text">Step 1: Close the website.</div></li>
                <li><div class="step-text">Step 2: Start the website again.</div></li>
                <li><div class="step-text">Step 3: Success.</div></li>
            </ol>
        </div>

        <div id="issue2">
            <h3>Issue 2: The parks turbines wont load</h3>
            <p>Step-by-step troubleshooting guide</p>
            <ol>
                <li><div class="step-text">Step 1: Close the website.</div></li>
                <li><div class="step-text">Step 2: Start the website again.</div></li>
                <li><div class="step-text">Step 3: Success.</div></li>
            </ol>
        </div>
    </section>

    <section id="contact" class="content-section">
        <h2>Contact Information</h2>
        <p>If you need further assistance, please contact us:</p>
        <ul>
            <li>Email: support@företaget.com</li>
            <li>Phone: 070-1234567</li>
        </ul>
        <!-- Add a contact form if desired -->
    </section>

    <section id="placeholder-section" class="content-section">
        <p id="placeholder-text">Pick a section to show its content</p>
    </section>

    <footer>
        <p>&copy; 2024 PileusAB. All rights reserved.</p>
    </footer>
    {% endif %}
    {% if user.language == 'swe' %}
    <div id="sidebar-container">
        <div id="tab-nav">
            <a href="/search_page" class="nav-link">Hem</a>
            <i class="fas fa-chevron-right"></i>
            <p class="tab">Hjälp & Support</p>
        </div>
        <div class="links-container">
            <a href="#faqs" class="nav-link2" onclick="toggleSection('faqs')">FAQs</a>
            <a href="#troubleshooting" class="nav-link2" onclick="toggleSection('troubleshooting')">Felsökningsguide</a>
            <a href="#contact" class="nav-link2" onclick="toggleSection('contact')">Kontakt</a>
        </div>
    </div>

    <section id="faqs" class="content-section">
        <h2>Vanliga frågor(FAQs)</h2>
        <ul>
            <li>
                <strong>Q:Hur lägger jag till fler turbiner på hemsidan?</strong>
                <p>A: Kontakta oss så löser vi det åt dig .</p>
            </li>
            <li>
                <strong>Q: Hur skapar jag fler användare för mitt företag?</strong>
                <p>A: Det kan du inte, varje företag har bara en användare.</p>
            </li>
            <li>
                <strong>Q: Fråga Fråga Fråga Fråga?</strong>
                <p>A: Svar Svar Svar Svar .</p>
            </li>
        </ul>
    </section>

    <section id="troubleshooting" class="content-section">
        <h2>Felsökningsguider</h2>
        <p>Kända problem</p>


        <!-- Felsökningsinnehåll -->
        <div id="issue1">
            <h3>Problem 1: Sidan startar inte</h3>
            <p>Steg-för-steg felsökningsguide</p>
            <ol>
                <li><div class="step-text">Steg 1: Stäng webbplatsen.</div></li>
                <li><div class="step-text">Steg 2: Starta webbplatsen igen.</div></li>
                <li><div class="step-text">Steg 3: Framgång.</div></li>
            </ol>
        </div>

        <div id="issue2">
            <h3>Problem 2: Parkens turbiner laddar inte</h3>
            <p>Steg-för-steg felsökningsguide</p>
            <ol>
                <li><div class="step-text">Steg 1: Stäng webbplatsen.</div></li>
                <li><div class="step-text">Steg 2: Starta webbplatsen igen.</div></li>
                <li><div class="step-text">Steg 3: Framgång.</div></li>
            </ol>
        </div>
    </section>

    <section id="contact" class="content-section">
        <h2>Kontaktinformation</h2>
        <p>Om du behöver ytterligare hjälp, vänligen kontakta oss:</p>
        <ul>
            <li>E-post: support@företaget.com</li>
            <li>Telefon: 070-1234567</li>
        </ul>
        <!-- Lägg till ett kontaktformulär om så önskas -->
    </section>

    <section id="placeholder-section" class="content-section">
        <p id="placeholder-text">Välj en sektion för att visa dess innehåll</p>
    </section>
    <footer>
        <p>&copy; 2024 PileusAB. Kopiering förbjuden.</p>
    </footer>
    {% endif %}

</body>

</html>