<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>{{ title }}</title>

</head>

<body>

    <header>
        <h1>{{ header }}</h1>
    </header>

    <main>
        <h2>{{ welcome_message }}</h2>
         <h1> Welcome {{user}}</h1>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('turbine') }}">Turbine Page</a></li>
                <li><a href="{{ url_for('search_page') }}">Search Turbine</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}

        <p>{{ content }}</p>


    </main>

    <footer>
        <p>&copy; 2024 {{ footer_text }}</p>
    </footer>

</body>

</html>
