<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/login.css') }}">
</head>
<body>
    <div class="container">
        <div class="login-form">
          <img class="icon-image" src="{{ url_for('static', filename='images/icon.png') }}" alt="icon-image">
          <div class="login-title"> <h1>Login</h1> </div>
            <form action="#" method="post">
                <div class="inputs-login">
                    <div id="username-text"> <label for="username">Username</label> </div>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>

                    <div id="password-text"> <label for="password">Password</label> </div>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>

                    <div class="button-container">
                        <button type="submit" class="login-button">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <img class="background-image" src="{{ url_for('static', filename='images/background-login.jpg') }}" alt="background-image">
    </div>
</body>
</html>
